[submodule "external/cimgui"]
	path = external/cimgui
	url = git@github.com:cimgui/cimgui
[submodule "external/lodepng"]
	path = external/lodepng
	url = git@github.com:lvandeve/lodepng
[submodule "external/cJSON"]
	path = external/cJSON
	url = git@github.com:DaveGamble/cJSON
[submodule "external/cglm.lua"]
	path = external/cglm.lua
	url = git@github.com:jaburns/cglm.lua
